.bottom-row-1 {
  display: flex;
  gap: 1.5rem;
  height: 18.9375rem;
}

.left-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.4375rem;
  background: var(--light-gray);
  height: 100%;
  border-radius: 20px;
  width: 24rem;
}

.bottom-row-1-news, .row-3-news, .row-4-news {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bottom-row-1-news article, .row-3-news article, .row-4-news article {
  display: flex;
  gap: 0.75rem;
}

.bottom-row-1-news article:first-child, .row-3-news article:first-child, .row-4-news article:first-child {
  margin-top: 0;
}

.bottom-row-1-news div, .row-3-news div, .row-4-news div {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.bottom-row-1-news h3, .row-3-news h3, .row-4-news h3 {
  font-size: 0.840rem;
  font-weight: 400;
}

.results-game {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  height: 100%;
  width: 30.375rem;
  padding: 1.25rem 4.0625rem 1.5625rem;
  border-radius: 15px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.results-game .logo-cup {
  width: 6.5rem;
}

.arrows {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  width: 100%
}

.arrows span {
  font-weight: 700;
  white-space: nowrap;
}

.teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.team {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.date-game {
  font-size: 0.75rem;
  color: var(--text-nav);
}

.results-game .bullets input[type="radio"] {
  border-color: var(--gray);
}

.results-game .bullets input[type="radio"]:checked {
  background-color: var(--bg-black);
}

.bottom-row-2 {
  display: flex;
  height: 25.75rem;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.quadrinhos {
  background: var(--gray-white);
  display: flex;
  flex-direction: column;
  gap: 1.1875rem;
  padding: 1.5625rem 2.8125rem 1.75rem 1.5625rem;
  border-radius: 15px;
  width: 24rem;
}

.quadrinho-header {
  display: flex;
  gap: 0.9375rem;
  align-items: center;
}

.quadrinho-header h2 {
  font-size: 1.375rem;
  font-weight: 400;
}

.quadrinho-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quadrinho-text h4 {
  color: var(--text-nav);
  font-size: 0.875rem;
}

.quadrinho-header {
  display: flex;
}

.jornal-digital {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.1875rem;
  width: 24rem;
  background: url('../assets/bottom/jornal-digital/bg-jornal-digital.png') center / cover no-repeat;
  height: 100%;
  border-radius: 15px;
  padding: 3.8125rem 4.5rem 2.1875rem;
}

.jornal-digital h3 {
  color: var(--white);
  padding-left: 2rem;
}

.daily-horoscope {
  background: var(--white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1.5rem 0.8rem;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.daily-horoscope-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6875rem;
}

.daily-horoscope-text div {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}

.bottom-signs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.9375rem;
}

.bottom-signs div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

.bottom-signs div img {
  width: 2.0625rem;
}

.bottom-row-3 {
  display: flex;
  height: 25.75rem;
  gap: 1.5rem;
  margin-top: 1.5rem;
  flex-direction: row;
}

.webstories {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  background: var(--white);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.875rem;
  border-radius: 15px;
  width: 24rem;
}

.webstories-content {
  display: flex;
  flex-direction: column;
  margin-top: 1.8125rem;
  gap: 1.125rem;
}

.webstories-content article {
  display: flex;
  align-items: center;
  gap: 1.375rem;
}

.webstories-content article h3 {
  font-size: 1rem;
  font-weight: 700;
}

.row-3-news {
  height: 100%;
  gap: 1.5rem;
  width: 24rem;
}

.survey-player {
  height: 100%;
  border-radius: 15px;
  width: 24rem;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  background: var(--white);
  padding: 1.5625rem 1.875rem;
}

.survey-player h2 {
  font-size: 1rem;
  font-weight: 900;
  color: var(--pink);
}

.survey-player h3 {
  font-size: 1.125rem;
}

.survey-form {
  display: flex;
  flex-direction: column;
  gap: 1.8875rem;
  margin-top: 2.1875rem;
}

.survey-form input[type="radio"] {
  appearance: none;
  border: 2px solid #888888;
  width: 1rem;
  padding: 0.2rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.survey-form input[type="radio"]:checked {
  border-color: var(--pink);
  background-color: var(--pink);
}

.survey-form button {
  box-shadow: 1px 2px 10px rgba(255,10,107,0.2 );
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  color: var(--white);
  background: var(--pink);
  font-size: 0.625rem;
  width: 6.25rem;
  height: 2.5rem;
  padding: 1rem 2.25rem 0.9375rem 1.8125rem;
  cursor: pointer;
}

.bottom-row-4 {
  display: flex;
  margin-top: 1.5rem;
  gap: 1.4375rem;
}

.row-4-news {
  width: 17.6875rem;
}

.load-more {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.load-more button {
  color: var(--pink);
  background: none;
  border: 1px solid var(--pink);
  height: 2.5rem;
  width: 11.25rem;
  font-size: 0.625rem;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.load-more button:hover {
  color: var(--white);
  background: var(--pink);
}

@media screen and (max-width: 1200px) {
  .bottom {
    display: none;
  }
}